@media print {
  body {
    background: none;
  }

  .resume,
  .resume__container {
    margin: 0;
  }

  .resume {
    width: auto;
    height: auto;
  }

  .resume__container {
    box-shadow: none;
  }
}