$color--1: #8EDBE5; // Pantone 318C
$color--4: #dedede;
$color--5: #c3c8cd; // Pantone 428C
$color--6: #fff;

$resume--padding: 1cm;
$resume__view--margin: 32px;
$resume__header--bg: $color--1;
$resume__content--bg: $color--4;
$resume__footer--color: $color--5;

$header__margin--v: $resume--padding;
$header__padding--bottom: $resume--padding;
$header__main__top__details__icon--margin-h: 7px;
$header__main__top__details__container--padding: 12px;


$container--header--bg: $resume__header--bg;
$container__padding--v: $header__margin--v;
$container__padding--h: $resume--padding;

$content--bg: $color--6;
$content--padding: 12px;
$content__header--bg: $resume__content--bg;
$content__header--margin: $content--padding;
$content--horizontal__indicator--bg: $resume__header--bg;
$content--horizontal__indicator--width: 2px;
$content--horizontal__indicator__sub--width: 48px;
$content--horizontal__indicator__sub--height: 4px;
$content--horizontal__indicator__sub--margin-horizontal: $content--horizontal__indicator__sub--height;
$content--horizontal__date--height: $typography__h4--size;
$content--horizontal__arrow--size-base: $content--horizontal__indicator--width + $content--horizontal__indicator__sub--height * 2;
$content--horizontal__arrow--size-real: $content--horizontal__arrow--size-base * .866;

.resume {
  width: calc(21.0cm + #{$resume__view--margin} *2);
  height: 29.7cm;

  margin: 0 auto;
}

.resume__container {
  @extend %shadow-5;

  @include rem(margin, $resume__view--margin);

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  height: 29.7cm;
  width: 21.0cm;
  box-sizing: content-box;
  overflow: hidden;

  background: $resume__content--bg;
  position: relative;
}

.container {
  box-sizing: border-box;
}

.container--header {
  @include rem(padding, $container__padding--v $container__padding--h);

  background: $container--header--bg;
  color: #000;
  position: relative;
}

%container--header--bright {
  &,
  a,
  h1,
  h2 {
    color: #fff;
  }

  .header__main__top__details__container-1--left {
    border-right-color: rgba(#fff, .4);
  }

  .header__canvas {
    opacity: .5;
  }
}

.page--palantir {

  .container--header {
    @extend %container--header--bright;

    background: url('../img/palantir-header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.page--axa {

  .container--header {
    @extend %container--header--bright;
    
    background: #00008f; // #ff1721

    &:before {
      content: '';

      z-index: 0;
      position: absolute;
      top: 0;
      bottom: 0;

      transform-origin: top;
      transform: rotateZ(45deg) scaleY(2) translateY(-25%);
      left: 2.8cm;
      width: 1cm;
      background: #ff1721;
    }
  }
}

.header__canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.header__container {
  @include rem(margin, 0 $content--padding $header__padding--bottom);

  z-index: 2;
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__image {
  @extend %shadow-3;

  flex-shrink: 0;

  &,
  img {
    @extend %border-radius-large;
  }

  img {
    width: auto;
    display: block;
  }
}

.header__image {
  background: #fff;
}

.header__image--head {
  @include rem(margin-right, 16px);

  &,
  img {
    border-radius: 50%;
  }

  img {
    height: 2.2cm;
  }
}

.header__image--aside {
  &,
  img {
    @extend %border-radius-large;
  }

  img {
    height: 1.6cm;
  }
}

.header__main {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.header__main__top {
  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.header__main__top__details__container-0 {
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-grow: 1;

  * {
    @include rem(font-size, 11px);
    @include rem(line-height, 7px);
  }
}

.header__main__top__details__container-1 {
  > div {
    &:not(:last-child) {
      @include rem(margin-bottom, 3px);
    }
  }
}

.header__main__top__details__container-1--left {
  @include rem(padding-right, $header__main__top__details__container--padding);

  border-right: 1px solid #333333;
  text-align: right;

  > div {
    span {
      @include rem(margin-right, $header__main__top__details__icon--margin-h);
    }
  }
}

.header__main__top__details__container-1--right {
  @include rem(padding-left, $header__main__top__details__container--padding);

  text-align: left;

  > div {
    span {
      @include rem(margin-left, $header__main__top__details__icon--margin-h);
    }
  }
}

.header__main__bottom {
  @include rem(margin-top, 12px);
  @include rem(margin-right, 12px);
}

.container--content {
  @include rem(margin, $container__padding--v $container__padding--h);

  position: relative;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.content__container {
  @include rem(margin-top, -(2*$header__margin--v + $content__margin));
}

%content--style {
  @extend %border-radius-large;
  @extend %shadow-1;

  @include rem(padding, $content--padding $content--padding);

  background: $content--bg;

  //margin: -1px;
  //border: 1px solid $resume__content--bg;
}

.content {
  @extend %content--style;

  &:not(:last-child) {
    @include rem(margin-bottom, $content__margin);
  }

  header {
    @include rem(margin-bottom, $content__header--margin);

    display: block;
    text-align: left;
    position: relative;
    overflow: hidden;

    &:after {
      @include rem(height, 3px);

      content: "";
      position: absolute;
      top: calc(50% - 1px);
      width: 100%;

      background: repeating-linear-gradient(-45deg, $content__header--bg, $content__header--bg 1px, transparent 1px, transparent 3px);
    }

    h2 {
      @include rem(margin-right, $content__header--margin);

      display: inline-block;
    }
  }

  tr {
    > td {
      &:last-child {

        h3 {
          position: relative;

          line-height: 1.1;

          figure {
            display: inline-block;
            position: relative;
            width: fit-content;

            height: 1.1em;

            span {
              display: inline-block;
              height: 100%;
              
              padding-right: 17.66666%;
              width: fit-content;
            }

            a {
              display: inline-block;
              height: 100%;
            }

            img {
              display: inline-block;
              height: 100%;
              width: auto;

              transform-origin: 12.5% 87.5%;
              transform: scale(1.25);
            }
          }

          figure + span {
            &:before {
              content: '\00a0';
            }
          }
        }

        h3 + div {
          text-align: left;

          aside {
            @include rem(margin-top, 2px);
          }

          i {
            @include rem(margin-right, 4px);
          }
        }

        ul {
          @include rem(margin-left, 32px);

          list-style-type: circle;
          list-style-position: outside;
        }
      }
    }
  }
}

.content--vertical {
  table {
    table-layout: fixed;
    width: 100%;
  }

  tr {
    &:not(:last-child) > td {
      @include rem(padding-bottom, $content--padding);
    }

    > td {
      &:first-child {
        width: 24%;
      }
    }
  }
}

.content--vertical__sub {
  &:not(:first-child) {
    @include rem(margin-top, $content__header--margin);
  }
}

%content--horizontal__item__tr--top {
  flex-direction: column;
  justify-content: flex-start;

  transform: translateY(50%);

  &:before {
    @include rem(top, - $content--horizontal__indicator--width / 2);
  }

  > td {
    &:first-child {
      @include rem(top, $content--padding / 2 + $content--horizontal__indicator__sub--height);
    }

    &:not(:first-child) {
      > div {
        @include rem(margin-top, $content--padding + $content--horizontal__date--height + $content--horizontal__indicator__sub--height);

        margin-bottom: 33.33333%;
      }
    }
  }
}

%content--horizontal__item__tr--bottom {
  flex-direction: column-reverse;
  justify-content: flex-start;

  transform: translateY(-50%);

  &:before {
    @include rem(bottom, - $content--horizontal__indicator--width / 2);
  }

  > td {
    &:first-child {
      @include rem(bottom, $content--padding / 2 + $content--horizontal__indicator__sub--height);
    }

    &:not(:first-child) {
      > div {
        @include rem(margin-bottom, $content--padding + $content--horizontal__date--height + $content--horizontal__indicator__sub--height);

        margin-top: calc(33.33333% + (1rem + #{$content--padding}) / 2);
        margin-top: calc(33.33333% + #{(1rem + rem($content--padding)) / 2});
      }
    }
  }
}

%content--horizontal__item__tr--2n1 {
  > td {
    &:not(:first-child) {
      transform: translateX(-42.85714%);
    }
  }
}

%content--horizontal__item--top-bottom {
  tbody {
    &:after {
      // center the el relatively to the current left stroke
      transform: translateY(calc(-50% - #{($content--horizontal__indicator__sub--height - $content--horizontal__indicator--width) / 2}));
      transform: translateY(calc(-50% - #{rem(($content--horizontal__indicator__sub--height - $content--horizontal__indicator--width) / 2)}));
    }

    tr {
      &:first-child {
        &:after {
          @extend %border-radius-small-tl;
        }
      }

      &:last-child {
        &:after {
          @extend %border-radius-small-br;
        }
      }

      &:not(:first-child):not(:last-child) {
        &:nth-child(2n) {
          &:after {
            @extend %border-radius-small-b;
          }
        }

        &:nth-child(2n+1) {
          &:after {
            @extend %border-radius-small-t;
          }
        }
      }

      &:nth-child(2n) {
        @extend %content--horizontal__item__tr--top;
      }

      &:nth-child(2n+1) {
        @extend %content--horizontal__item__tr--2n1;
        @extend %content--horizontal__item__tr--bottom;
      }
    }
  }
}

%content--horizontal__item--bottom-top {
  tbody {
    &:after {
      // center the el relatively to the current left stroke
      transform: translateY(calc(-50% + #{($content--horizontal__indicator__sub--height - $content--horizontal__indicator--width) / 2}));
      transform: translateY(calc(-50% + #{rem(($content--horizontal__indicator__sub--height - $content--horizontal__indicator--width) / 2)}));
    }

    tr {
      &:first-child {
        &:after {
          @extend %border-radius-small-bl;
        }
      }

      &:last-child {
        &:after {
          @extend %border-radius-small-tr;
        }
      }

      &:not(:first-child):not(:last-child) {
        &:nth-child(2n) {
          &:after {
            @extend %border-radius-small-t;
          }
        }

        &:nth-child(2n+1) {
          &:after {
            @extend %border-radius-small-b;
          }
        }
      }

      &:nth-child(2n) {
        @extend %content--horizontal__item__tr--bottom;
      }

      &:nth-child(2n+1) {
        @extend %content--horizontal__item__tr--2n1;
        @extend %content--horizontal__item__tr--top;
      }
    }
  }
}

.content--horizontal {

  &.content--horizontal--order-inverse {
    @extend %content--horizontal__item--bottom-top;
  }

  &:not(.content--horizontal--order-inverse) {
    @extend %content--horizontal__item--top-bottom;
  }

  tbody {
    position: relative;
    display: flex;

    flex-direction: row-reverse;
    align-self: stretch;

    // right arrow
    &:after {
      content: '';
      position: absolute;
      right: 0;
      width: 0;
      height: 0;

      top: 50%;
      border-top: $content--horizontal__arrow--size-real solid transparent;
      border-bottom: $content--horizontal__arrow--size-real solid transparent;
      border-left: $content--horizontal__arrow--size-real solid $content--horizontal__indicator--bg;
    }

    tr {
      --cell-width: calc(100% / var(--child_count));
      --indicator_parcel_amount: 12;
      --indicator_width_base: calc(100% * var(--child_count) / var(--indicator_parcel_amount));
      --indicator_width_current: calc(var(--indicator_width_base) * var(--indicator_weight));

      display: flex;
      align-items: flex-start;

      width: var(--cell-width);
      flex-grow: 1;
      flex-basis: 0;

      &:first-child {
        &:before {
          @include rem(right, $content--horizontal__arrow--size-real);
        }

        &:after,
        > td:first-child {
          @include rem(right, $content--horizontal__arrow--size-real);

          width: calc(var(--indicator_width_current) - #{$content--horizontal__indicator__sub--margin-horizontal * .5 + $content--horizontal__arrow--size-real});
          width: calc(var(--indicator_width_current) - #{rem($content--horizontal__indicator__sub--margin-horizontal * .5 + $content--horizontal__arrow--size-real)});
        }
      }

      &:not(:first-child) {
        &:before {
          right: 0;
        }
      }

      &:last-child {
        &:after,
        > td:first-child {
          width: calc(var(--indicator_width_current) - #{$content--horizontal__indicator__sub--margin-horizontal * .5});
          width: calc(var(--indicator_width_current) - #{rem($content--horizontal__indicator__sub--margin-horizontal * .5)});

          left: 0;
        }
      }

      &:nth-child(2) {
        --indicator_start: calc((var(--indicator_width_base) * var(--indicator_left)) - (var(--indicator_width_base) * 1 * var(--indicator_parcel_amount) / var(--child_count)));
      }

      &:nth-child(3) {
        --indicator_start: calc((var(--indicator_width_base) * var(--indicator_left)) - (var(--indicator_width_base) * 2 * var(--indicator_parcel_amount) / var(--child_count)));
      }

      &:not(:first-child):not(:last-child) {
        &:after,
        > td:first-child {
          right: calc(var(--indicator_start) + #{$content--horizontal__indicator__sub--margin-horizontal * .5});
          right: calc(var(--indicator_start) + #{rem($content--horizontal__indicator__sub--margin-horizontal * .5)});

          width: calc(var(--indicator_width_current) - #{$content--horizontal__indicator__sub--margin-horizontal * 1});
          width: calc(var(--indicator_width_current) - #{rem($content--horizontal__indicator__sub--margin-horizontal * 1)});
        }
      }

      &:after {
        @include rem(height, $content--horizontal__indicator__sub--height);

        position: absolute;
        content: '';

        background: $content--horizontal__indicator--bg;
      }

      &:before {
        @include rem(height, $content--horizontal__indicator--width);

        content: '';
        position: absolute;
        left: 0;

        background: $content--horizontal__indicator--bg;
      }

      > td {
        &:first-child {
          position: absolute;

          text-align: center;

          h4 {
            @include rem(font-size, 11px);

            font-weight: 700;
          }
        }

        &:not(:first-child) {
          width: 175%;
        }
      }
    }
  }
}

.container--footer {
  @include rem(left, $container__padding--v);
  @include rem(right, $container__padding--v);
  @include rem(bottom, $container__padding--v / 2);

  position: absolute;

  display: flex;
  align-items: baseline;
  justify-content: space-between;

  color: $resume__footer--color;
}

.container--footer--left {
  flex-direction: row;

  .container--footer__qrcode {
    > span {
      text-align: left;
    }
  }
}

.container--footer--right {
  flex-direction: row-reverse;

  .container--footer__qrcode {
    > span {
      text-align: right;
    }
  }
}

.container--footer__qrcode {
  position: relative;

  figure {
    display: inline-block;

    background: $content--bg;
  }

  img {
    display: block;

    height: 2cm;
  }

  > span {
    @extend %font--base;

    display: block;

    line-height: 1.5em;
    color: $typography__headers--color;
  }
}