$header__margin--v: .9cm;
$header__padding--bottom: .9cm;
$header__main__top__details__icon--margin-h: 7px;
$header__main__top__details__container--padding: 12px;

$container--header--color: color('green', 'accent-3');
$container__padding--v: $header__margin--v;
$container__padding--h: 1cm;

$content__header__margin: 14px;
$content__padding: 11px;

.resume {
  width: calc(21.0cm + 24px *2);
  height: 29.7cm;

  margin: 0 auto;
}

.resume__container {
  @include rem(margin, 24px);

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  height: 29.7cm;
  width: 21.0cm;
  box-sizing: content-box;

  background: color('grey', 'lighten-2');
  position: relative;
  overflow: hidden;

  box-shadow: 0 3px 6px rgba(#000 ,.16), 0 3px 6px rgba(#000, .23);

  ::selection {
    background: rgba($typography__selection--color, .45);
  }

  ::-moz-selection {
    background: rgba($typography__selection--color, .45);
  }
}

.container {
  @include rem(padding, $container__padding--v $container__padding--h);

  box-sizing: border-box;
}

.container--header {
  background: $container--header--color;
  color: #000;
}

.header__container {
  @include rem(margin, 0 ($content__padding +1) $header__padding--bottom);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  > :not(:last-child) {
    @include rem(margin-right, 16px);
  }
}

.header__image {
  @extend %shadow-2;

  flex-shrink: 0;

  &,
  img {
    border-radius: 2px;
  }

  img {
    width: auto;
    display: block;
  }
}

.header__image--head {

  &,
  img {
    border-radius: 50%;
  }

  img {
    height: 2.2cm;
  }
}

.header__image--cert {
  background: #fff;

  img {
    height: 1.7cm;
  }
}

.header__main {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.header__main__top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.header__main__top__details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  flex-grow: 1;
}

.header__main__top__details__container {
  > div {
    &:not(:last-child) {
      @include rem(margin-bottom, 6px);
    }
  }

  a {

    &,
    span {
      @include rem(font-size, 11px);
      @include rem(line-height, 7px);
    }
  }
}

.header__main__top__details__container--left {
  @include rem(padding-right, $header__main__top__details__container--padding);

  border-right: 1px solid color('grey', 'darken-4');
  text-align: right;

  > div {
    span {
      @include rem(margin-left, $header__main__top__details__icon--margin-h);
    }
  }
}

.header__main__top__details__container--right {
  @include rem(padding-left, $header__main__top__details__container--padding);

  text-align: left;

  > div {
    span {
      @include rem(margin-right, $header__main__top__details__icon--margin-h);
    }
  }
}

.header__main__bottom {
  @include rem(margin-top, 9px);
}

.container--content {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  a {
    text-decoration: underline;
  }
}

.content__container {
  @include rem(margin-top, -(2*$header__margin--v + $content__margin));
}

.content {
  @include rem(padding, $content__padding $content__padding);

  background: #fff;
  border-radius: 2px;

  border: 1px solid #e0e0e0;

  &:not(:last-child) {
    @include rem(margin-bottom, $content__margin);
  }

  header {
    @include rem(margin-bottom, $content__header__margin);

    display: block;
    text-align: left;
    position: relative;
    overflow: hidden;

    &:after {
      @include rem(height, 3px);

      content: "";
      position: absolute;
      top: calc(50% - 1px);
      width: 100%;

      background: repeating-linear-gradient(-45deg, #66BB6A, #66BB6A 1px, transparent 1px, transparent 3px);
    }

    h2 {
      @include rem(margin-right, $content__header__margin);

      display: inline-block;
    }
  }
}

.content__sub {
  &:not(:first-child) {
    @include rem(margin-top, $content__header__margin);
  }
}

.table-data {
  table-layout: fixed;
  width: 100%;

  tr:not(:last-child) > td {
    @include rem(padding-bottom, 12px);
  }
}

.table-data__left {
  width: calc(100% *(3/12));
}

.table-data__right {
  ul {
    @include rem(margin-left, 32px);

    list-style-type: circle;
    list-style-position: outside;
  }

  aside {
    @include rem(margin-top, 2px);
  }

  span {
    @include rem(margin-right, 4px);
  }
}

.table-data__right__content {
  text-align: justify;
}

.table-data__right__more {
  color: color('light-blue', 'accent-4');
}

.content__sub--skills .table-data {

  .table-data__left {
    width: 50%;
  }

  .table-data__right {
    span {
      @include rem(font-size, 15px);

      &:not(:last-child) {
        @include rem(margin-right, 4px);
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  color: color('grey', 'base');
}