.container.container--header#container--header
    canvas#header__canvas.header__canvas
    .header__container

        aside#header__image.header__image.header__image--head
            img(src='img/header__head.jpg', alt="Clément Lesné photo's")

        .header__main
            .header__main__top
                h1
                    | Clément Lesné
                    // small .xyz
                .header__main__top__details__container-0
                    .header__main__top__details__container-1.header__main__top__details__container-1--left
                        div
                            a(href='mailto:clem0925@gmail.com'): p
                                | clem0925@gmail.com
                                span.fa.fa-envelope-o
                        div
                            a(href='tel:+33649229043'): p
                                | +33 (0)6 49 22 90 43
                                span.fa.fa-phone
                    .header__main__top__details__container-1.header__main__top__details__container-1--right
                        div
                            a(target='_blank', href='https://linkedin.com/in/lesneclement'): p
                                span.fa.fa-linkedin
                                | Clément Lesné
                        div
                            a(target='_blank', href='https://twitter.com/Clement_FEDLH'): p
                                span.fa.fa-twitter
                                | @Clement_FEDLH
            aside.header__main__bottom: h3 !{headerMainBottom}

        block header__image