extend ../templates/common/layout

block vars
    - var headerTitle = 'CESI Alternance'
    - var headerMainBottom = "Autodidacte, entrepreneur, passionné par le digital et l'informatique, mon objectif est de trouver une entreprise dans un contexte novateur et dynamique pour débuter une alternance début septembre 2018 ou début janvier 2019."
    - var footerVersionVisible = true
    - var footerIsLeft = false
    - var qrcodeVisible = false
    - var bodyClass = 'page--cesi-alternance'

block header__image
    aside.header__image.header__image--aside
        img(src='img/cert_oracle_java8.png?v=@@version')

block content
    div(class='12u')
        section.content.content--vertical
            header
                h2 Expériences professionnelles et compétences techniques
            table
                tbody
                    tr
                        td: h4 mars à juill. 2018
                        td: div
                            h3
                                figure: span: a(href='https://www.asi.fr', target='_blank'): img(src='img/structures/asi.png?version=@@version')
                                span Analyste, Agence ASI, Rennes
                            div
                                ul
                                    li Développement d'un environnement embarqué Android en micro-services, avec outils de synchronisations et applicatioons mobiles ;
                                    li Applications temps réel, ROM et matériel custom ;
                                    li
                                        | Clients&nbsp;
                                        em ARKEA
                                        | &nbsp;et&nbsp;
                                        em GROUPAMA
                                        | .
                            p: em Environnement technique : JAVA 8, Bash, Amazon EC2, MySQL, Amazon S3, Amazon DynamoDB, MQTT, Spring, Hibernate, JBoss, Android 4.4.2-8, ButterKnife, Dagger, Linux (Debian)
                    tr
                        td: h4 avr. 2017 à auj.
                        td: div
                            h3
                                figure: span: a(href='https://www.enseignementsup-recherche.gouv.fr', target='_blank'): img(src='img/structures/meneser.jpg?version=@@version')
                                span Membre collège étudiant, Commission Pédagogique Nationale spécialités "Informatique" et "Statistique et informatique décisionnelle", Ministère de l'enseignement supérieur et de la recherche, Paris
                            div
                                ul
                                    li Audit des établissements (modalités d'enseignement, relations professionnelles et internationales) ;
                                    li Actualisation des Programmes Pédagogiques Nationaux.
                    tr
                        td: h4 juill. à août 2016
                        td: div
                            h3 Chargé de mission digital et communication, Laboratoire Alzheimer, University of Minnesota Twin Cities, USA
                            div
                                ul
                                    li Développement d'un site internet performant (Google AMP compliant) et accessible ;
                                    li Mise en place du plan de communication numérique, web et social.
                            p: em Environnement technique : PHP 7, NGINX, MySQL, Redis, Google AMP, WordPress, Mac OS, Linux (Debian)
                    tr
                        td: h4 janv. à mars 2016
                        td: div
                            h3
                                figure: span: a(href='https://www.cunninghamlindsey.com/global', target='_blank'): img(src='img/structures/cunningham-lindsey.png?version=@@version')
                                span Développeur full-stack, Cunningham Lindsey, Rennes
                            div
                                ul
                                    li Participation à la création d'une application d'audit interne ;
                                    li Discussion du cahier des charges.
                            p: em Environnement technique : JAVA, JEE/JSF, SCSS, HTML5/CSS3, MySQL, AWS, JavaScript, Hyper-V, Linux (Debian), Windows
                    tr
                        td: h4 août. 2015 à mars 2018
                        td: div
                            h3 Entrepreneur web et marketing digital, Le Havre
                            div
                                ul
                                    li Mise en place de solutions web (JAVA/JEE, Node.js, PHP) et audit de communication externe ;
                                    li Hébergement des solutions cloud AWS/GCP et/ou dédié.
                            p: em Environnement technique : JEE, NGINX, SCSS, HTML5/CSS3, Java, Hibernate, JSF, MySQL, JBoss, JavaScript, Elasticsearch, Redis, Linux (Debian)
                    tr
                        td: h4 févr. 2012 à oct. 2014
                        td: div
                            h3  Serveur de jeu communautaire Minecraft, France
                            div
                                ul
                                    li Création d'une plateforme de gamers Minecraft avec services free-to-play, ~200 joueurs actifs 18h/24 ;
                                    li Front PHP (Symfony 2.3), middlewares REST, launcher Java Swing, 4 serveurs dédiés OVH.
                            p: em Environnement technique : MySQL, PHP, Symfony, Doctrine, NGINX, HTML5/CSS3, Redis, Amazon S3, Linux (Debian)

    div(class='5u')
        section.content.content--vertical
            
            article.content--vertical__sub
                header
                    h2 Certifications
                table
                    tbody
                        tr
                            td
                                h4
                                    | 2018
                                    br
                                    | (en cours)
                            td
                                div: h3 Amazon, AWS Solutions Architect, Certified Associate
                        tr
                            td
                                h4 2016
                            td
                                div: h3 Oracle, Java SE 8 Programmer, Certified Associate
                        tr
                            td
                                h4 2016
                            td
                                div: h3 Google, Digital Active
            
            article.content--vertical__sub
                header
                    h2 Distinction
                table
                    tbody
                        tr
                            td
                                h4 2017
                            td
                                div: h3
                                    a(href='https://www.engagement.fr/wp-content/uploads/2017/11/Liste-des-candidats-admis-automne-2017.pdf', target='_blank') Lauréat
                                    | ,&nbsp;
                                    a(href='https://www.engagement.fr/qui-sommes-nous/role-et-missions/', target='_blank') Institut de l'Engagement
                                div: ul
                                    li Détection &amp; accompagnement de jeunes à fort potentiel.
            
            article.content--vertical__sub
                header
                    h2 Compétences transverses
                table
                    tbody
                        tr
                            td
                                h4 Attitudes
                            td: div: h3 Proactivif, respectueux, positif
                        tr
                            td
                                h4 Langues
                            td: div: h3 Anglais (B2+), Espagnol

    div(class='7u')
        section.content.content--vertical
            header
                h2 Formation
            table
                tbody
                    tr
                        td: h4 2015-2017
                        td: div
                            h3 IUT Informatique
                            div: ul
                                li Institut Universitaire de Technologie du Havre
                    tr
                        td: h4 2015
                        td: div
                            h3 BAC Scientifique spécialité Informatique et Sciences du Numérique
                            div: ul
                                li Lycée Assomption, Rennes

        section.content.content--vertical
            header
                h2 Divers
            table
                tbody
                    tr
                        td: h4 Passions
                        td: div
                            h3
                                | Equitation (galop 6, bénévolat),
                                | Lectures scientifiques &amp; presse internationale
                    tr
                        td: h4 Sports
                        td: div
                            h3 Natation (nageur confirmé, 1x par semaine)
                    tr
                        td: h4 Brevets
                        td: div
                            h3 Permis B, PSC1