doctype html
html(lang='en')

    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        link(rel="profile" href="http://gmpg.org/xfn/11")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        title R&eacute;sum&eacute; &middot; LESN&Eacute; Cl&eacute;ment

        link(rel='stylesheet', href='app.css')

        link(href='https://fonts.googleapis.com/css?family=Average', rel='stylesheet', type='text/css')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css', rel='stylesheet', type='text/css')

    body
        article.resume
            .resume__container

                .container.container--header
                    .header__container

                        aside.header__image.header__image--head
                            img(src='img/head.jpg', alt="Clément Lesné photo's")

                        .header__main
                            .header__main__top
                                h1
                                    | Clément Lesné
                                    // small .xyz
                                .header__main__top__details
                                    .header__main__top__details__container.header__main__top__details__container--left
                                        div
                                            a(href='mailto:clem0925@gmail.com'): p
                                                | clem0925@gmail.com
                                                span.fa.fa-envelope-o
                                        div
                                            a(href='tel:+33649229043'): p
                                                | +33 (0)6 49 22 90 43
                                                span.fa.fa-phone
                                    .header__main__top__details__container.header__main__top__details__container--right
                                        div
                                            a(target='_blank', href='https://linkedin.com/in/lesneclement'): p
                                                span.fa.fa-linkedin
                                                | Clément Lesné
                                        div
                                            a(target='_blank', href='https://twitter.com/Clement_FEDLH'): p
                                                span.fa.fa-twitter
                                                | @Clement_FEDLH
                            aside.header__main__bottom
                        
                        aside.header__image.header__image--cert
                            img(src='img/cert_oracle_java8.bmp')

                .container.container--content
                    .content__container
                        .row

                            div(class="12u")
                                section.content
                                    header
                                        h2 Expériences professionnelles
                                    table.table-data
                                        tbody
                                            tr
                                                td.table-data__left
                                                    h4 2016 (1 mois)
                                                td: div.table-data__right
                                                    h3
                                                        | Laboratory Website in the University of Minnesota (
                                                        a(href='http://lesnelab.neuroscience.umn.edu', target='_blank') lesnelab.neuroscience.umn.edu
                                                        | )
                                                    .table-data__right__content
                                                        ul
                                                            li Special goals & use-cases ;
                                                            li Fully responsive, adaptive & usable with low performance devices.
                                                        aside.table-data__right__more
                                                            p
                                                                span.fa.fa-check
                                                                | Google AMP, Wordpress, apache2, SCSS, Javascript, Linux (Debian)
                                            tr
                                                td.table-data__left
                                                    h4 2016 (2 mois)
                                                td: div.table-data__right
                                                    h3 Application d'audit pour Cunningham Lindsey
                                                    .table-data__right__content
                                                        ul
                                                            li Aide au développement de l'application (méthode agile) ;
                                                            li Refonte graphique.
                                                        aside.table-data__right__more
                                                            p
                                                                span.fa.fa-check
                                                                | JEE, JSF, JAVA, SCSS, CSS3, MySQL, AWS, JavaScript, Hyper-V
                                            tr
                                                td.table-data__left
                                                    h4 2014 (1 mois)
                                                td: div.table-data__right
                                                    h3 Design Web, Template & Composants PrimeFaces
                                                    .table-data__right__content
                                                        ul
                                                            li Réalisation d’un template responsive &amp; Composants JSF Primefaces destinés à une application Intranet ;
                                                            li Revente de la solution via un site marchand.
                                                        aside.table-data__right__more
                                                            p
                                                                span.fa.fa-check
                                                                | JEE, JSF, HTML5, JavaScript, jQuery, CSS3, SCSS

                            div(class="12u")
                                section.content
                                    header
                                        h2 Projets réalisés
                                    table.table-data
                                        tbody
                                            tr
                                                td.table-data__left
                                                    h4 2015 (6 mois)
                                                td: div.table-data__right
                                                    h3 Projet BAC ISN
                                                    .table-data__right__content
                                                        ul
                                                            li Développement d’un système de gestion d’absence ;
                                                            li Équipe de 2 développeurs.
                                                        aside.table-data__right__more
                                                            p
                                                                span.fa.fa-check
                                                                | Java, Hibernate, JSF, MySQL, HTML5, JBoss, JavaScript, CSS3, linux (Ubuntu)
                                            tr
                                                td.table-data__left
                                                    h4 2012 - 2014 (2 ans)
                                                td: div.table-data__right
                                                    h3 Serveur de jeu communautaire Minecraft
                                                    .table-data__right__content
                                                        ul
                                                            li Manager d'équipe 4 pers. & développeur, ~200 joueurs actifs ;
                                                            li Développement PHP (Symfony 2.3, framework inerne) &amp; launcher Java Swing ;
                                                            li Maintenance système complète (2 serveurs dédiés OVH en location).
                                                        aside.table-data__right__more
                                                            p
                                                                span.fa.fa-check
                                                                | MySQL, PHP, Symfony, Doctrine, nginx, linux (Ubuntu & Debian), CSS3, HTML5

                            div(class="12u")
                                section.content
                                    header
                                        h2 Projets associatifs
                                    table.table-data
                                        tbody
                                            tr
                                                td.table-data__left
                                                    h4 2016 (en cours)
                                                td: div.table-data__right
                                                    h3 Président, Fédération des Associations Étudiantes Havraises
                                                    .table-data__right__content
                                                        ul
                                                            li Manager d'une équipe de 14 personnes ;
                                                            li Représentant de 13.000 étudiants Havrais dans des projets de culture et d'éducation populaire.
                                            tr
                                                td.table-data__left
                                                    h4 2016 (9 mois)
                                                td: div.table-data__right
                                                    h3 Président, Bureau des Étudiants en Informatique
                                            tr
                                                td.table-data__left
                                                    h4 2015-2016 (12 mois)
                                                td: div.table-data__right
                                                    h3 Représentant au Conseil de Département

                            div(class="4u")
                                section.content
                                    article.content__sub.content__sub--skills
                                        header
                                            h2 Compétences

                                        table.table-data
                                            tbody
                                                tr
                                                    td.table-data__left
                                                        h4 Java
                                                    td: div.table-data__right
                                                        span.fa.fa-star
                                                        span.fa.fa-star
                                                        span.fa.fa-star
                                                        span.fa.fa-star
                                                        span.fa.fa-star
                                                tr
                                                    td.table-data__left
                                                        h4 Web front-end
                                                    td: div.table-data__right
                                                        span.fa.fa-star
                                                        span.fa.fa-star
                                                        span.fa.fa-star
                                                        span.fa.fa-star
                                                        span.fa.fa-star-o
                                                tr
                                                    td.table-data__left
                                                        h4 Web back-end
                                                    td: div.table-data__right
                                                        span.fa.fa-star
                                                        span.fa.fa-star
                                                        span.fa.fa-star
                                                        span.fa.fa-star
                                                        span.fa.fa-star-o
                                                tr
                                                    td.table-data__left
                                                        h4 SQL &amp; NoSQL
                                                    td: div.table-data__right
                                                        span.fa.fa-star
                                                        span.fa.fa-star
                                                        span.fa.fa-star
                                                        span.fa.fa-star
                                                        span.fa.fa-star-o
                                                tr
                                                    td.table-data__left
                                                        h4 Unix
                                                    td: div.table-data__right
                                                        span.fa.fa-star
                                                        span.fa.fa-star
                                                        span.fa.fa-star
                                                        span.fa.fa-star-o
                                                        span.fa.fa-star-o

                                    article.content__sub.content__sub--certifications
                                        header
                                            h2 Certifications
                                        table.table-data
                                            tbody
                                                tr
                                                    td.table-data__left
                                                        h4 2016
                                                    td: div.table-data__right
                                                        h3 Oracle Certified Associate, Java SE 8 Programmer
                                                tr
                                                    td.table-data__left
                                                        h4 2016
                                                    td: div.table-data__right
                                                        h3 Google, Digital Active

                            div(class="8u")
                                section.content
                                    header
                                        h2 Formation
                                    table.table-data
                                        tbody
                                            tr
                                                td.table-data__left
                                                    h4
                                                        | 2015-2017
                                                        br
                                                        | (2 ans)
                                                td: div.table-data__right
                                                    h3 DUT Informatique
                                                    .table-data__right__content
                                                        ul
                                                            li Institut Universitaire de Technologie du Havre
                                            tr
                                                td.table-data__left
                                                    h4 2015
                                                td: div.table-data__right
                                                    h3 Baccalauréat scientifique option Informatique et Sciences du Numérique
                                                    .table-data__right__content
                                                        ul
                                                            li Lycée Assomption, Rennes

                                section.content
                                    header
                                        h2 Divers
                                    table.table-data
                                        tbody
                                            tr
                                                td.table-data__left
                                                    h4 Passion
                                                td: div.table-data__right
                                                    h3
                                                        | Equitation (galop 6, bénévolat),
                                                        | Lectures scientifiques &amp; presse internationale
                                            tr
                                                td.table-data__left
                                                    h4 Sports
                                                td: div.table-data__right
                                                    h3 Natation: nageur confirmé (1x par semaine), Basketball

                    .footer
                        span
                        p v@@version