extend ../templates/common/layout

block vars
    - var headerMainBottom = "<strong>Cherche emploi à plein-temps sur Le Havre d'avril 2017 à août 2017</strong></br>Possibilité de contrat étudiant à partir de septembre 2017"

block header__image
    aside.header__image.header__image--cert
        img(src='img/cert_oracle_java8.bmp')

block content
    div(class='12u')
        section.content
            header
                h2 Expériences professionnelles
            table.table-data
                tbody
                    tr
                        td.table-data__left
                            h4 2016 (2 mois)
                        td: div.table-data__right
                            h3
                                | Site web et communication d'un&nbsp;
                                a(href='http://lesnelab.neuroscience.umn.edu', target='_blank') laboratoire universitaire de recherche Américain
                            .table-data__right__content
                                ul
                                    li
                                        | Dans le cadre d'un séjour de deux mois à Minneapolis (à l'
                                        em University of Minnesota Twin Cities
                                        | ) ;
                                    li Multi-device, testé et optimisé pour les appareils légers.
                                aside.color--blue
                                    i.fa.fa-check
                                    | Google AMP, Wordpress, apache2, SCSS, Javascript, Linux
                    tr
                        td.table-data__left
                            h4 2016 (2 mois)
                        td: div.table-data__right
                            h3 Application d'audit pour Cunningham Lindsey
                            .table-data__right__content
                                ul
                                    li Aide au développement de l'application (méthode agile) ;
                                    li Refonte graphique.
                                aside.color--blue
                                    i.fa.fa-check
                                    | JEE, JSF, JAVA, SCSS, CSS3, MySQL, AWS, JavaScript, Hyper-V
                    tr
                        td.table-data__left
                            h4 2014 (1 mois)
                        td: div.table-data__right
                            h3 Design Web, Template & Composants PrimeFaces
                            .table-data__right__content
                                ul
                                    li Réalisation d’un template responsive &amp; Composants JSF Primefaces destinés à une application Intranet ;
                                    li Revente de la solution via un site marchand.
                                aside.color--blue
                                    i.fa.fa-check
                                    | JEE, JSF, HTML5, JavaScript, jQuery, CSS3, SCSS

    div(class='12u')
        section.content
            header
                h2 Projets réalisés
            table.table-data
                tbody
                    tr
                        td.table-data__left
                            h4 2015 (6 mois)
                        td: div.table-data__right
                            h3 Projet BAC ISN
                            .table-data__right__content
                                ul
                                    li Développement d’un système de gestion d’absence ;
                                    li Équipe de 2 développeurs.
                                aside.color--blue
                                    i.fa.fa-check
                                    | Java, Hibernate, JSF, MySQL, HTML5, JBoss, JavaScript, CSS3, linux (Ubuntu)
                    tr
                        td.table-data__left
                            h4 2012 - 2014 (2 ans)
                        td: div.table-data__right
                            h3 Serveur de jeu communautaire Minecraft
                            .table-data__right__content
                                ul
                                    li Manager d'équipe 4 pers. & développeur, ~200 joueurs actifs ;
                                    li Maintenance système complète (2 serveurs dédiés OVH en location).
                                aside.color--blue
                                    i.fa.fa-check
                                    | MySQL, PHP, Symfony, Doctrine, nginx, linux (Ubuntu & Debian), CSS3, HTML5

    div(class='12u')
        section.content
            header
                h2 Projets associatifs et culturels
            table.table-data
                tbody
                    tr
                        td.table-data__left
                            h4 2017 (en cours)
                        td: div.table-data__right
                            h3 Expert à la Commission Pédagogique Nationale Informatique / Réseau IUT
                            .table-data__right__content
                                ul
                                    li Commission Nationale en charge des questions sur les DUT "INFO: Informatique".
                    tr
                        td.table-data__left
                            h4 2017 (en cours)
                        td: div.table-data__right
                            h3 Représentant au CA de la Communauté d'Universités et Établissements de Normandie
                            .table-data__right__content
                                ul
                                    li Représentant des 65.000 étudiants Normands en études supérieures.
                    tr
                        td.table-data__left
                            h4 2016 (en cours)
                        td: div.table-data__right
                            h3 Président de la Fédération des Associations Étudiantes du Havre (FED'LH)
                            .table-data__right__content
                                ul
                                    li Manager d'une équipe de 14 personnes ;
                                    li Représentant de 13.000 étudiants Havrais dans des projets de culture et d'éducation populaire.

    div(class='4u')
        section.content
            article.content__sub.content__sub--skills
                header
                    h2 Compétences

                table.table-data
                    tbody
                        tr
                            td.table-data__left
                                h4 Java
                            td: div.table-data__right
                                span.fa.fa-star.color--blue
                                span.fa.fa-star.color--blue
                                span.fa.fa-star.color--blue
                                span.fa.fa-star.color--blue
                                span.fa.fa-star.color--blue
                        tr
                            td.table-data__left
                                h4 Web
                            td: div.table-data__right
                                span.fa.fa-star.color--blue
                                span.fa.fa-star.color--blue
                                span.fa.fa-star.color--blue
                                span.fa.fa-star.color--blue
                                span.fa.fa-star-o
                        tr
                            td.table-data__left
                                h4 SQL &amp; NoSQL
                            td: div.table-data__right
                                span.fa.fa-star.color--blue
                                span.fa.fa-star.color--blue
                                span.fa.fa-star.color--blue
                                span.fa.fa-star.color--blue
                                span.fa.fa-star-o
                        tr
                            td.table-data__left
                                h4 Anglais
                            td: div.table-data__right
                                span.fa.fa-star.color--blue
                                span.fa.fa-star.color--blue
                                span.fa.fa-star.color--blue
                                span.fa.fa-star-o
                                span.fa.fa-star-o
                        tr
                            td.table-data__left
                                h4 Espagnol
                            td: div.table-data__right
                                span.fa.fa-star.color--blue
                                span.fa.fa-star.color--blue
                                span.fa.fa-star-o
                                span.fa.fa-star-o
                                span.fa.fa-star-o

            article.content__sub.content__sub--certifications
                header
                    h2 Certifications
                table.table-data
                    tbody
                        tr
                            td.table-data__left
                                h4 2016
                            td: div.table-data__right
                                h3 Oracle Certified Associate, Java SE 8 Programmer
                        tr
                            td.table-data__left
                                h4 2016
                            td: div.table-data__right
                                h3 Google, Digital Active

    div(class='8u')
        section.content
            header
                h2 Formation
            table.table-data
                tbody
                    tr
                        td.table-data__left
                            h4
                                | 2015-2017
                                br
                                | (2 ans)
                        td: div.table-data__right
                            h3 DUT Informatique
                            .table-data__right__content
                                ul
                                    li Institut Universitaire de Technologie du Havre
                    tr
                        td.table-data__left
                            h4 2015
                        td: div.table-data__right
                            h3 BAC Scientifique option Informatique et Sciences du Numérique
                            .table-data__right__content
                                ul
                                    li Lycée Assomption, Rennes

        section.content
            header
                h2 Divers
            table.table-data
                tbody
                    tr
                        td.table-data__left
                            h4 Passions
                        td: div.table-data__right
                            h3
                                | Equitation (galop 6, bénévolat),
                                | Lectures scientifiques &amp; presse internationale
                    tr
                        td.table-data__left
                            h4 Sports
                        td: div.table-data__right
                            h3 Natation: nageur confirmé (1x par semaine), Basketball
                    tr
                        td.table-data__left
                            h4 Brevets
                        td: div.table-data__right
                            h3 Permis B, PSC1