extend ../templates/common/layout

block vars
    - var headerTitle = 'Digital'
    - var headerMainBottom = "Nombreuses expériences dans le numérique, en entreprise et dans l'environnement associatif, je souhaite me professionnaliser par un diplôme prestigieux et un environnement dynamique."
    - var footerVersionVisible = true
    - var footerIsLeft = false
    - var qrcodeVisible = false

block header__image
    aside.header__image.header__image--aside
        img(src='img/cert_oracle_java8.png?v=@@version')

block content
    div(class='12u')
        section.content.content--vertical
            header
                h2 Expériences professionnelles
            table
                tbody(style="--child_count:4;")
                    tr(style="--indicator_weight:3;")
                        td: h4 mars 2018 à auj.
                        td: div
                            h3
                                figure: span: a(href='https://www.asi.fr', target='_blank'): img(src='img/structures/asi.png?version=@@version')
                                span Développeur informatique, Agence ASI, Rennes
                            div
                                ul
                                    li Réalisation d’applications mobiles Android ;
                                    li
                                        | Clients&nbsp;
                                        em ARKEA
                                        | &nbsp;et&nbsp;
                                        em GROUPAMA
                                        | &nbsp;;
                                    li Equipe de 7 personnes.
                    tr(style="--indicator_weight:3;--indicator_left:3;")
                        td: h4 oct. à déc. 2017
                        td: div
                            h3 Accompagnement à l'expression de besoins, Le Havre
                            div
                                ul
                                    li Application de monnaie virtuelle.
                    tr
                        td: h4 juill. à août 2016
                        td: div
                            h3 Chargé de communication, Laboratoire Alzheimer, University of Minnesota Twin Cities
                            div
                                ul
                                    li Conduite du plan de communication numérique, web et social (Facebook, Twitter et LinkedIn) ;
                                    li Refonte du site internet et des sites sociaux.
                    tr(style="--indicator_weight:3;--indicator_left:6;")
                        td: h4 janv. à mars 2016
                        td: div
                            h3
                                figure: span: a(href='https://www.cunninghamlindsey.com/global', target='_blank'): img(src='img/structures/cunningham-lindsey.png?version=@@version')
                                span Application d'audit, Cunningham Lindsey, Rennes
                            div
                                ul
                                    li Aide au développement de l'application ;
                                    li Discussion du cahier des charges.
                    tr(style="--indicator_weight:3;")
                        td: h4 août. 2015 à mars 2018
                        td: div
                            h3 Entrepreneur web et marketing digital, Le Havre
                            div
                                ul
                                    li Mise en place de solutions web (Node.js, PHP, JEE) et audit de communication internet/externe ;
                                    li Hébergement des solutions cloud et/ou dédié.

    div(class='12u')
        section.content.content--vertical
            header
                h2 Projets associatifs et culturels
            table
                tbody
                    tr
                        td: h4 avr. 2017 à auj.
                        td: div
                            h3
                                figure: span: a(href='https://www.enseignementsup-recherche.gouv.fr', target='_blank'): img(src='img/structures/meneser.jpg?version=@@version')
                                span Membre collège étudiant, Commission Pédagogique Nationale spécialités "Informatique" et "Statistique et informatique décisionnelle", Ministère de l'enseignement supérieur et de la recherche, Paris
                            div
                                ul
                                    li Audit des établissements (modalités d'enseignement, relations professionnelles et internationales) ;
                                    li Actualisation des Programmes Pédagogiques Nationaux.
                    tr
                        td: h4 juill. 2017 à févr. 2018
                        td: div
                            h3 Chargé de projet, Ligue de l'Enseignement de Seine-Maritime, Le Havre
                            div
                                ul
                                    li
                                        | Accompagnement de projets culturels de jeunesse dans le cadre du&nbsp;
                                        em Service Civique
                                        | .


    div(class='5u')
        section.content.content--vertical
            article.content--vertical__sub.content--vertical__sub--skills
                header
                    h2 Compétences
                table
                    tbody
                        tr
                            td
                                h4 Qualités
                            td: div
                                p Organisation de projet, Analyse de système, Gestion des risques, Synthèse
                        tr
                            td
                                h4 Langages
                            td: div
                                p JAVA/JEE/JSF, HTML5/CSS3, ES6-7, Google AMP, Bash
                        tr
                            td
                                h4 Médiateurs
                            td: div
                                p NGINX, AWS, JSF, JBoss, Symfony, MySQL, MongoDB
                        tr
                            td
                                h4 Systèmes
                            td: div
                                p Linux (Debian), Windows, Android Plateform, AWS, GCP
                        tr
                            td
                                h4 Langues
                            td: div
                                p Anglais (B2+), Espagnol

            article.content--vertical__sub
                header
                    h2 Certifications
                table
                    tbody
                        tr
                            td
                                h4
                                    | 2018
                                    br
                                    | (en cours)
                            td: div
                                h3 Amazon, AWS Solutions Architect, Certified Associate
                        tr
                            td
                                h4 2016
                            td: div
                                h3: a(href='http://bit.ly/clementlesne-cert-oracle-1') Oracle, Java SE 8 Programmer, Certified Associate
                        tr
                            td
                                h4 2016
                            td: div
                                h3: a(href='http://bit.ly/clementlesne-cert-google-1') Google, Digital Active
            
            article.content--vertical__sub
                header
                    h2 Distinction
                table
                    tbody
                        tr
                            td
                                h4 2017
                            td: div
                                h3: a(href='https://www.engagement.fr/wp-content/uploads/2017/11/Liste-des-candidats-admis-automne-2017.pdf') Lauréat, Institut de l'Engagement

    div(class='7u')
        section.content.content--vertical
            header
                h2 Formation
            table
                tbody
                    tr
                        td: h4 2015-2017
                        td: div
                            h3 IUT Informatique
                            div
                                ul
                                    li Institut Universitaire de Technologie du Havre
                    tr
                        td: h4 2015
                        td: div
                            h3 BAC Scientifique spécialité Informatique et Sciences du Numérique
                            div
                                ul
                                    li Lycée Assomption, Rennes

        section.content.content--vertical
            header
                h2 Divers
            table
                tbody
                    tr
                        td: h4 Passions
                        td: div
                            h3
                                | Equitation (galop 6, bénévolat),
                                | Lectures scientifiques &amp; presse internationale
                    tr
                        td: h4 Sports
                        td: div
                            h3 Natation (nageur confirmé, 1x par semaine)
                    tr
                        td: h4 Brevets
                        td: div
                            h3 Permis B, PSC1