a {
  color: #333333;

  text-decoration: none;
  font-style: italic;

  &:hover {
    color: #3366ff;
    text-decoration: underline;
  }
}

@media print {
  a {
    font-style: normal !important;
    text-decoration: none !important;
  }
}