$typography--color: #212121;
$typography__headers--color: #000;
$typography__selection--color: #cccccc;
$typography__h1--size: 26px;
$typography__h2--size: 16px;
$typography__h4--size: 14px;

::selection {
  background: rgba($typography__selection--color, .45);
}

::-moz-selection {
  background: rgba($typography__selection--color, .45);
}

%font--headings {
  font-family: 'Sanchez', serif;
  letter-spacing: .1px;
}

%font--base {
  font-family: 'Average', serif;
  letter-spacing: .1px;
  line-height: 1.3;
}

body {
   @extend %font--base;

  @include rem(font-size, 11px);

  font-weight: 400;
  text-rendering: geometricPrecision;
  color: $typography--color;
}

small {
  @include rem(margin, 0 4px);
  @include rem(font-size, 15px);
  @include rem(line-height, 10px);
}

h1,
h2 {
  @extend %font--headings;
}

h1,
h2 {
  color: $typography__headers--color;
}

h1 {
  @include rem(font-size, $typography__h1--size);
  @include rem(line-height, $typography__h1--size);

  font-weight: 700;
  letter-spacing: 2px;
}

h2 {
  @include rem(font-size, $typography__h2--size);
  @include rem(line-height, $typography__h2--size);

  font-weight: 700;
}

h3 {
  @include rem(font-size, $typography__h4--size);
}

h4 {
  @include rem(font-size, $typography__h4--size);
}